@import "colors";
@import "../node_modules/bulma/bulma";

@import "match_card";

.page-header {
  margin-top: 2em;
  text-align: center;

  img {
    width: 700px;
  }
}

.filter-options {
  margin-bottom: 1em;
}

.mep-column {
  flex: none;
  width: 10%;
}

.mep-card {
  background: rgba($color-primary, 0.1);

  .mepcontent {
    padding: 0 0.3em 0.3em 0.3em;
  }

  .meptitle {
    font-size: 0.7em;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: capitalize;
    top: -1px;
    white-space: nowrap;
  }

  .mepattribute {
    margin-bottom: 0;
  }
}

.flip-box {
  background-color: transparent;
  width: 113px;
  height: 142px;
  perspective: 600px;
  cursor: pointer;

  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    &.is-revealed {
      transform: rotateY(180deg);
    }
  }

  .is-matched {
    filter: grayscale(100%);
  }

  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-box-back {
    transform: rotateY(180deg);
  }
}
